<div class="row-table">
    <div class="col-table">
        Id
    </div>
    <div class="col-table">
        {{this.object?.id}}
    </div>
</div>
<div class="row-table">
    <div class="col-table">
        Assignee Id
    </div>
    <div class="col-table">
        {{this.object?.assigneeId}}
    </div>
</div>
<div class="row-table">
    <div class="col-table">
        Completed
    </div>
    <div class="col-table">
        {{this.object?.completed ? 'Done' : 'In process'}}
    </div>
</div>
<div class="row-table">
    <div class="col-table">
        Description
    </div>
    <div class="col-table">
        {{this.object?.description}}
    </div>

</div>