.app-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 96%;
    margin: 0 auto;
}

.app-container header.app-header {
    flex: 1 1 auto;
}

.app-container main.main-container {
    flex: 1 1 100%;

}

.app-container footer.app-footer {
    flex: 1 1 auto;
}

body {
    height: 100vh;
    margin: 0;
}

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}

