<div class="top-table">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search...">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="addTask()" class="demo-button">
    Add Task
  </button>
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="completed">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let row"> {{row.completed ? 'Completed': 'In process'}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="assigneeId">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let row"> {{getUserName(row.assigneeId)}}</td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let row"> {{row.description}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>  </th>

      <td mat-cell *matCellDef="let row"> 
        <button mat-button color="primary" (click) = "openModalAssignTask(row.id)">Assign to</button>
        <button mat-button color="primary" (click) = "openModalChangeStatus(row.id)">Change status</button>
        <button mat-icon-button (click)="getDetail(row.id)">
          <mat-icon>launch</mat-icon>
        </button>  
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>
</div>